body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root mark {
  background-color: #d0bfff;
}

#root mark.blue {
  background-color: #a3daff;
}

#root mark.red {
  background-color: #ffc9c9;
}

#root mark.yellow {
  background-color: #ffec99;
}
